@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

@mixin gradientBackground {
  background: -o-linear-gradient(315deg, $primary-color, $primary-color-variant);
  background: linear-gradient(135deg, $primary-color, $primary-color-variant);
  color: $white-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white-color;
  }
}



.section {
  @include gradientBackground;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  .container {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
    align-items: center;
    justify-content: space-between;

    .section__content {
      margin-top: -2rem;

      h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
      }

      p {
        // margin: 1rem 0;
        color: $light-color;
        font-size: 1.1rem;
      }
    }
  }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  .section {
    height: 60vh;

    .container {
      gap: 1rem;

      .sectionr__content {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  .section {
    height: 100vh;

    .container {
      grid-template-columns: 1fr;
      text-align: center;
      margin-top: -8rem;
    }

    h1 {
      margin-top: 20px;
    }
  }
}

.icon {
  color: orange;
  margin-right: 5px;
}

li:last-child {
  margin-bottom: 1rem;
}
