@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

#services {
  @include gradientBackground;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;

  .services__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46% 8% 46%;
    grid-template-columns: 46% 46%;
    gap: 8%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    .service__section{
    &-content {
      margin-top: -2rem;

      &-title {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
      }

      &-para {
         margin: 1rem 0;
        color: $light-color;
        font-size: 1.1rem;
      }
    }
  }
}
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  #services {
    height: 60vh;

    .services__container {
      gap: 1rem;

      .section__content {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  #services {
    height: 100vh;

    .services__container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
      margin-top: -8.5rem;
      padding-bottom: 1rem;
    }

    .service__section-title {
      margin-top: 20px;
   }
  }
}

.icon {
  color: orange;
  margin-right: 5px;
}