@import "../../../utils//scss//config";
@import "../../../utils/scss/mixins";
@import "../../../utils/scss/general";

.nav__container {
  width: 100vw;
  height: 5rem;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em 2em;
  @include gradientBackground;
  box-shadow: 0 1rem 1rem rgba($black-color, 0.1);

  &.window-scroll {
    background: $white-color;
    &-wrapper {
      button {
        color: $black-color;
      }

      a {
        color: $black-color;

        & > h3 {
          color: $black-color;
        }

        &.btn {
          color: $white-color;
        }
      }
    }
  }

  .nav__container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none; 
    }

  
    li {
      margin-right: 1em; 
    }


    a {
      color: $white-color;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .nav__logo h3 {
      color: $white-color;
    }
  }
}

.btn {
  color: var(--color-gray-100);
  width: fit-content;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  // transition: var(--transition);
  margin-top: 13px !important;
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn.sm:hover {
  background: var(--color-gray-100);
}

/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .nav__container-wrapper {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  li:nth-child(2) {
    display: none;
  }
}


.svg {
  color: $white-color;
  margin-top: 5px;
}

.logout {
  background-color: transparent;
}


.paw1 {

  transform: rotate(-45deg);
  fill: orange;
  margin: 0 5px;
}

.paw2 {

  transform: rotate(45deg);
  fill: orange;
  margin: 0 5px;
}



