
@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";


#faq {
  @include gradientBackground;
  display: -ms-grid;
  display: grid;
  place-items: center;
 

  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46% 8% 46%;
    grid-template-columns: 46% 46%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            min-height: fit-content;
            padding-bottom: 2em;
  }
}

h2 {
  padding: 1em;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  #faq {
    .container {
      gap: 1rem;

      .section__content {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  #faq {
    .container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
      margin-top: 0;
    }
  }
}


.icon {
    margin-left: 10px;
    color: orange;
}





