a {
    color: #000;
}

/* header */

.header {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.7rem;
    text-decoration: none;
    position: relative;
    padding: 0.2rem 0.6rem;
}

  .header li a:hover {
        color: #ff8c00;
    }


.header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    /* display: inline-block; */
    float: right;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 600px) {
    .header {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }


    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

    .header li a:link::before,
    .header li a:visited::before,
    .header li a:link::after,
    .header li a:visited::after {
        content: "";
        position: absolute;
        left: 0;
        width: 90%;
        height: 0.25rem;
        background-color: #ff8c00;
        margin: 10px;

        -webkit-transform: scaleX(0);

            -ms-transform: scaleX(0);

                transform: scaleX(0);

        -webkit-transition: -webkit-transform 0.6s cubic-bezier(1, 0, 0, 1);

        transition: -webkit-transform 0.6s cubic-bezier(1, 0, 0, 1);

        -o-transition: transform 0.6s cubic-bezier(1, 0, 0, 1);

        transition: transform 0.6s cubic-bezier(1, 0, 0, 1);

        transition: transform 0.6s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(1, 0, 0, 1);
    }

    .header li a:link::before,
    .header li a:visited::before {
        top: 0;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
    }

    .header li a:link::after,
    .header li a:visited::after {
        bottom: 0;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                transform-origin: right;
    }

    .header li a:hover::before,
    .header li a:active::before,
    .header li a:hover::after,
    .header li a:active::after {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
    }
}