@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

#appointment {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
    overflow: hidden;

    .container {
        margin-top: 3rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 46% 8% 46%;
        grid-template-columns: 46% 46%;
        gap: 8%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .section__content {
            h1 {
                font-size: 3.5rem;
                line-height: 1.1;
                letter-spacing: -3px;
                font-weight: 300;
            }

            p {
                margin: 1rem 0 2rem;
                color: $light-color;
                font-size: 1.1rem;
            }
        }
    }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
    #appointment {
        height: 60vh;

        .container {
            gap: 1rem;

            .section__content {
                h1 {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
    #appointment {
        height: 100vh;

        .container {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 0;
        }
    }
}

a {
    list-style: none;
    color: white;
}

.btn {
        margin-top: 1rem !important;
}