@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

#section {
   @include gradientBackground;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  text-align: center;
  color: $white-color;


    .contact__section-content {
      display: grid;
      place-items: center center;
      margin-bottom: 1rem;
      margin-top: 3em;
      gap: 1rem;
      

    &-title {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
        margin-top: 2rem !important;
      }

      &-para {
        margin: 1rem 0 2rem;
        color: $light-color;
        font-size: 1.1rem;
      }
    }
}

i {
  margin-right: 5px;
}




