@import "../scss/config";
@import "./mixins";

html {
  scroll-behavior: smooth;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: $dark-color;
  background: rgba($primary-color-variant, 0.1);
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.he {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
}



img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

section {
  margin-top: 6rem;

  & > h2 {
    text-align: center;
  }

  & > p {
    text-align: center;
    width: 42%;
    margin: 0.6rem auto 2.5rem;
  }
}

.btn {
  @include button();
}

.btn-primary {
  @include button($white-color, $primary-color);
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  section {
    & > p {
      width: 55%;
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  section {
    & > p {
      width: $container-md;
    }
  }
}
