@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

footer {
    background: $black-color;
    color: $light-color;
    padding-top: 6rem;
    margin-top: 0rem;

  

    .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
        font-size: 0.85rem;

        a {
            color: $light-color;
            -webkit-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;

            &:hover {
                color: $white-color;
            }

            & > h3 {
                color: $white-color;
            }
        }

        article {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 1rem;

            & > div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 0.6rem;
            }

            & > h3 {
                color: $white-color;
            }

            .footer__socials {
                gap: 1rem;
                font-size: 1.1rem;
            }
        }
    }

    .copyright {
        text-align: center;
        padding: 1.5rem 0;
        margin-top: 4rem;
        border-top: 1px solid rgba($white-color, 0.2);
        font-size: 0.9rem;
    }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
    footer {
        .container {
            gap: 2.5rem;
        }
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
    footer {
        .container {
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            text-align: center;

            .btn-primary,
            .footer__socials {
                margin: 0 auto;
            }

            article {
                & > div {
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
            }
        }
    }
}