@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

@mixin gradientBackground {
  background: -o-linear-gradient(315deg, $primary-color, $primary-color-variant);
  background: linear-gradient(135deg, $primary-color, $primary-color-variant);
  color: $white-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $white-color;
  }
}



.swiper {
  width: $container-lg;

  .swiper-wrapper {
    /* brings swiper pagination down */
    margin-bottom: 4rem;

    .swiper-slide {
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      cursor: default;
      font-size: 0.9rem;

      p {
        margin-bottom: 1.5rem;
      }

      .patient {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 1rem;

        .avatar {
          width: 2.5rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}