@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

.swiper {
  width: $container-lg;

  .swiper-wrapper {
    margin-bottom: 4rem;

    .swiper-slide {
      @include gradientBackground;
      padding: 1.5rem 2rem;
      border-radius: 1rem;
      cursor: default;
      font-size: 1.1rem;

      &-para {
        margin-bottom: 1.5rem;
      }

      .patient {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 1em;
        padding-top: 1em;
        -webkit-box-align: center;
        -ms-flex-align: center;
        justify-content: left;
        align-items:left;
        gap: 1rem;

        .avatar {
          width: 6.5rem;
          aspect-ratio: 1/1;
        }

        &__details {
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items:center;
          text-align: left;
          padding-top: 1.5em;
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background: $primary-color;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
      }
    }
  }
}
