@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

#services {
  @include gradientBackground;
  display: grid;
  place-items: center;

  

  .services__container {
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
    align-items: center;
    justify-content: space-between;
    color: $white-color;
    height: 100vh;


    .section__image {
      img {
        margin-top: 2em;
        max-width: 100%; 
      }
    }

    .service__section-content {
      min-height: fit-content;

      .service__section-title {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
      }

      .service__section-para {
        margin: 1rem 0;
        color: $light-color;
        font-size: 1.1rem;
      }

      ul {
        li {
          text-align: left;
          padding-left: 1em;

          .icon {
            color: orange;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  #services {
    .services__container {
      gap: 1rem;

      .service__section-content {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  #services {
    .services__container {
      grid-template-columns: 1fr;
      text-align: center;
      margin-top: -8.5rem;
      padding-bottom: 1rem;
    }

    .section__image,
    .service__section-content {
      margin-top: 0;
    }
  }
}

.action {
  color: orange;
}