@import "../../utils//scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

nav {
    @include gradientBackground;
    width: 100vw;
    height: 5rem;
    position: sticky;
    z-index: 10;
    top: 0;
}
