@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

nav {
  width: 100vw;
  height: 5rem;
  position: sticky;
  z-index: 10;
  top: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  @include gradientBackground;
  -webkit-box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
  box-shadow: 0 1rem 1rem rgba($black-color, 0.1);

  &.window-scroll {
    background: $white-color;
    .container {
      button {
        color: $black-color;
      }

      a {
        color: $black-color;

        & > h3 {
          color: $black-color;
        }

        &.btn {
          color: $white-color;
        }
      }
    }
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 3rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

ul li:first-child {
  padding-left: 1em;
}

    a {
      color: $white-color;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .nav__logo h3 {
      color: $white-color;
    }
  }
}

.btn {
  color: var(--color-gray-100);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

.btn.sm:hover {
  background: var(--color-gray-100);
}


/* MEDIA QUERIES (medium screens) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  li:nth-child(2) {
    display: none;
  }
}
