@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

header {
  @include gradientBackground;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;

  .banner__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46% 8% 46%;
    grid-template-columns: 46% 46%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    text-align: center;
  }

  .header__content {
    &-title {
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 300;
      color: $white-color;
    }

    &-para {
      margin: 1rem 0 2rem;
      color: $light-color;
      font-size: 2rem;
    }
  }
}

.btn {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1em !important;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  header {
    .banner__container {
      gap: 1rem;
      padding: 1em;
      

      .header__content {
        &-para {
          font-size: 1.8rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  header {
    .banner__container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
      padding: 1em;
    }
  }
}
