@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

header {
  @include gradientBackground;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;

  .banner__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46% 8% 46%;
    grid-template-columns: 46% 46%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    text-align: center;
  }

  .header__content {
    &-title {
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 300;
      color: $white-color;
    }

    &-para {
      margin: 1rem 0 2rem;
      color: $light-color;
      font-size: 2rem;
    }
  }
}

.header__image {
  position: relative;
}

.ajax-loader{
	position: absolute;
  top:45%;
  left:70%;
	transform-origin: 50% 50%;
	transform: rotate(90deg) translate(-50%, 0%);
	font-size: 50px;
	width: 1em;
	height: 3em;
	color: red;

	.paw{
		width: 1em;
		height: 1em;
		animation: 2050ms pawAnimation ease-in-out infinite;
		opacity: 0;
		
		svg{
			width: 100%;
			height: 100%;
		}
		
		.icon{
			fill: whitesmoke;
      opacity: .4;
		}

		&:nth-child(odd){
			transform: rotate(-10deg);
		}

		&:nth-child(even){
			transform: rotate(10deg) translate(125%, 0);
		}

		@for $i from 1 through 6{
            &:nth-child(#{$i}){
            	animation-delay: #{ (($i * -1)+6)*0.25 }s;
            }
        }

        .no-cssanimations &{
        	opacity: 1;
        }
	}
}

@keyframes pawAnimation {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

.btn {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1em !important;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  header {
    .banner__container {
      gap: 1rem;
      padding: 1em;
      

      .header__content {
        &-para {
          font-size: 1.8rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  header {
    .banner__container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
      padding: 1em;
    }
  }
}
