@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

header {
  @include gradientBackground;
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;

   .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 46% 8% 46%;
    grid-template-columns: 46% 46%;
    gap: 8%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
            text-align: center;
  }

    .header__content {
       &-title {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
        padding: 1em 1.5em;
        color: $white-color;
      }


      &-para {
        margin: 1rem 0 2rem;
        color: $light-color;
        font-size: 1.1rem;
      }
    }

    &__image {
     margin-bottom: 3rem;
    }
  }
 }


 
 .btn {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1em !important;
 }


/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
  header {
    .container {
      gap: 1rem;

      .header__content {
        h1 {
          font-size: 2.2rem;
        }
      }
    }
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
  header {
    .container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}
