@import "../../utils/scss/config";
@import "../../utils/scss/mixins";
@import "../../utils/scss/general";

.section__container {
    @include gradientBackground;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-bottom: -6rem;
    margin-top: -1rem;

    .container {
        display: grid;
        grid-template-columns: 46% 46%;
        gap: 8%;
        align-items: center;
        justify-content: space-between;

        .section__content {
            h1 {
                font-size: 3.5rem;
                line-height: 1.1;
                letter-spacing: -3px;
                font-weight: 300;
                padding: 20px 20px 20px 0;
            }
        }

        .section__image {
            margin-top: 8rem;
        }
    }
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
    .section__container {
        height: 60vh;

        .container {
            gap: 1rem;

            .section__content {
                h1 {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 600px) {
    .section__container {
        height: 100vh;

        .container {
            grid-template-columns: 1fr;
            text-align: center;
            margin-top: 0;
        }
    }
}


.btn {
   margin:auto;
}